<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AmazonTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ba0ac">  <td>19/09/09 00:41:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AmazonTest.setup()[pri:0, instance:tests.AmazonTest@6e6c3152]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>19/09/09 00:42:19</td>   <td>39017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.test_Home_Page()[pri:0, instance:tests.AmazonTest@6e6c3152]">test_Home_Page</td> 
  <td>main@238157928</td>   <td></td> </tr>
</table>
