<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa9a9d">  <td>19/09/10 11:34:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AmazonTest.setup()[pri:0, instance:tests.AmazonTest@32709393]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1883919084</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>19/09/10 11:35:07</td>   <td>13987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.Open_Home_Page()[pri:0, instance:tests.AmazonTest@32709393]">Open_Home_Page</td> 
  <td>main@1883919084</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>19/09/10 11:35:07</td>   <td>14025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.Loginnn()[pri:1, instance:tests.AmazonTest@32709393]">Loginnn</td> 
  <td>main@1883919084</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>19/09/10 11:35:20</td>   <td>27264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.ProductSearch()[pri:2, instance:tests.AmazonTest@32709393]">ProductSearch</td> 
  <td>main@1883919084</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>19/09/10 11:36:27</td>   <td>93905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.Logout()[pri:3, instance:tests.AmazonTest@32709393]">Logout</td> 
  <td>main@1883919084</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>19/09/10 11:36:29</td>   <td>96119</td> <td>&nbsp;</td><td title="&lt;&lt;AmazonTest.afterClass()[pri:0, instance:tests.AmazonTest@32709393]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1883919084</td>   <td></td> </tr>
</table>
